
@font-face {
	font-family: openSans-semibold;
	src: url('../OpenSans/OpenSans-SemiBold.ttf');
}
@font-face {
	font-family: openSans-extrabolditalic;
	src: url('../OpenSans/OpenSans-ExtraBoldItalic.ttf');
}
@font-face {
	font-family: openSans-lightitalic;
	src: url('../OpenSans/OpenSans-LightItalic.ttf');
}
@font-face {
	font-family: openSans-regular;
	src: url('../OpenSans/OpenSans-Regular.ttf');
}
@font-face {
	font-family: openSans-medium;
	src: url('../OpenSans/OpenSans-Medium.ttf');
}
@font-face {
	font-family: openSans-light;
	src: url('../OpenSans/OpenSans-Light.ttf');
}
@font-face {
	font-family: openSans-bolditalic;
	src: url('../OpenSans/OpenSans-BoldItalic.ttf');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-image: linear-gradient(
		180deg,
		#020d1f 0%,
		#3c4f71 15%,
		#425471 64%,
		#020d1fe8 100%
	   );
		
}

#fullpage {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

}


@media only screen and (max-width: 615px) {
	body {
		
		scroll-behavior: smooth;
	}
	#fullpage {
		position: relative;
		top:0;
	}
}
