/* global css located here */

@font-face {
	font-family: openSans-semibold;
	src: url('../static/OpenSans/OpenSans-SemiBold.ttf');
}
@font-face {
	font-family: openSans-extrabolditalic;
	src: url('../static/OpenSans/OpenSans-ExtraBoldItalic.ttf');
}
@font-face {
	font-family: openSans-lightitalic;
	src: url('../static/OpenSans/OpenSans-LightItalic.ttf');
}
@font-face {
	font-family: openSans-regular;
	src: url('../static/OpenSans/OpenSans-regular.ttf');
}
@font-face {
	font-family: openSans-medium;
	src: url('../static/OpenSans/OpenSans-Medium.ttf');
}
@font-face {
	font-family: openSans-light;
	src: url('../static/OpenSans/OpenSans-Light.ttf');
}
@font-face {
	font-family: openSans-bolditalic;
	src: url('../static/OpenSans/OpenSans-BoldItalic.ttf');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-image: linear-gradient(
		180deg,
		#020d1f 0%,
		#3c4f71 25%,
		#425471 44%,
		#395381 100%
	);
	height: 230vh;
}
